* {
  outline: none; }

body {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none; }

#mobile {
  width: 100%;
  text-align: right; }
  #mobile #toggle {
    padding: 10px; }
  #mobile span {
    display: none; }
  #mobile ul {
    display: flex;
    flex-direction: column-reverse;
    list-style: none; }
  #mobile a {
    text-transform: uppercase;
    font-size: 16px;
    padding: 25px 0;
    color: black;
    font-family: "Playfair Display", serif; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 2%;
  color: #5a5957; }

h3:after {
  content: ' ';
  max-width: 60px;
  background: #840707;
  display: block;
  margin: .5% auto;
  width: 100%;
  height: 3px; }

.header {
  background-image: url("img/header.jpg");
  width: 100%;
  background-size: 100% 100%;
  text-align: center;
  overflow: auto; }
  .header h2:first-of-type {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: white;
    padding-top: 5%; }
  .header h1,
  .header h2 {
    margin-top: 0;
    margin-bottom: 0; }
  .header h2 {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 15px;
    margin-top: 0; }
  .header h1 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    color: white;
    padding-top: 8%;
    position: relative;
    text-align: center; }
    .header h1:after {
      content: ' ';
      display: block;
      width: 100%;
      max-width: 10%;
      background: white;
      height: 3px;
      margin: 2% auto; }
  .header p {
    font-size: 12px;
    color: white;
    margin: 2% 10% 0 10%;
    padding-bottom: 15%; }
  .header i {
    color: white;
    padding-bottom: 2%; }

nav {
  width: 100%;
  text-align: right;
  border: none; }
  nav i {
    padding-top: 20px; }
  nav ul {
    display: none; }

#about {
  text-align: center; }
  #about p {
    font-size: 18px;
    padding: 0 5%; }

#work {
  text-align: center;
  margin-top: 9%; }
  #work .gallery img {
    display: block;
    width: 85%;
    margin: auto;
    padding: 1%; }
  #work a.load {
    color: white;
    background: #d07c7c;
    border: 4px double #d07c7c;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 35px; }
    #work a.load:hover {
      background: inherit;
      color: black; }

#see-world {
  text-align: center; }
  #see-world p {
    font-size: 18px;
    padding: 0 5%; }
  #see-world span {
    color: grey;
    font-size: 13px; }
  #see-world .squares {
    margin: auto; }
  #see-world .sqr {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    margin: 20px 5px;
    cursor: pointer; }

#follow {
  text-align: center; }
  #follow i {
    margin: 10px;
    padding: 10px;
    color: #848282;
    font-size: 24px;
    border: 10px double transparent;
    line-height: 30px;
    width: 30px;
    height: 30px;
    transition: .2s ease-in-out;
    border-radius: 50%; }
    #follow i:hover {
      background: #d07c7c;
      border: 10px double white;
      color: white; }

#contact {
  background-image: url("img/arhitecture-contact.jpg");
  width: 100%;
  background-size: 100% 100%;
  text-align: center;
  overflow: auto;
  margin-top: 100px; }
  #contact h3 {
    margin-top: 1%; }
  #contact input,
  #contact textarea {
    display: block;
    margin: 20px auto;
    line-height: 30px;
    padding: 1%;
    border: 2px solid #d07c7c;
    width: 70%; }
  #contact button {
    color: white;
    background: #d07c7c;
    border: 4px double #d07c7c;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 35px;
    margin: 15px; }
    #contact button:hover {
      background: inherit;
      color: black; }

footer {
  text-align: center; }
  footer i {
    color: black;
    padding: 10px; }
  footer span {
    font-family: "Dancing Script", cursive;
    font-size: 15px;
    padding-top: .5%;
    display: block; }
  footer span:first-of-type {
    font-size: 22px; }
  footer p {
    font-size: 11px; }

@media screen and (min-width: 610px) and (max-width: 940px) {
  body {
    padding: 1.5%; }

  .header #toggle {
    display: none; }
  .header h2:first-of-type {
    font-size: 29px;
    padding-top: 7%; }
  .header h2 {
    font-size: 32px;
    margin-top: 0; }
  .header h1 {
    font-size: 40px;
    padding-top: 8%; }
  .header p {
    font-size: 18px;
    margin: 0 20%;
    padding-bottom: 15%; }

  nav {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid grey;
    position: relative; }
    nav span {
      display: none; }
    nav ul {
      display: inline-block;
      list-style: none;
      padding: 0; }
    nav li {
      display: inline-block;
      float: right; }
    nav a {
      color: black;
      padding: 9px;
      font-size: 16px;
      text-transform: uppercase; }

  #about {
    text-align: center;
    clear: both; }
    #about p {
      font-size: 18px;
      padding: 0 15%; }

  #work a {
    margin-top: 60px; }

  #see-world p {
    font-size: 18px;
    padding: 0 15%; } }
@media screen and (min-width: 941px) {
  h3 {
    padding: 10% 0 2% 0; }

  body {
    padding: .5%; }

  .header {
    text-align: center;
    overflow: hidden; }
    .header #toggle {
      display: none; }
    .header h2:first-of-type {
      font-size: 35px;
      padding-top: 5%; }
    .header h2 {
      font-size: 27px;
      margin-top: 0; }
    .header h1 {
      font-size: 50px;
      padding-top: 5%; }
    .header p {
      font-size: 20px;
      margin: 5% 25%;
      padding-bottom: 15%; }

  nav {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid grey;
    position: relative; }
    nav .logo {
      position: absolute;
      left: 0;
      font-family: "Dancing Script", cursive; }
    nav ul {
      display: inline-block;
      list-style: none;
      padding: 10px; }
    nav li {
      display: inline-block;
      float: right; }
    nav a {
      text-transform: uppercase;
      color: black;
      padding: 10px;
      font-size: 16px;
      border-bottom: 2px solid transparent; }
      nav a:hover {
        border-bottom: 2px solid #840707; }

  #about {
    margin: auto; }
    #about p {
      font-size: 16px;
      padding: 0 20%; }

  #work * {
    box-sizing: border-box; }
  #work img {
    padding: 5px;
    width: inherit;
    height: inherit; }
  #work .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  #work .pic-row {
    width: 100%; }
  #work .small {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #work .left {
    width: 770px;
    font-size: 0; }
  #work .right {
    width: 440px;
    height: 758px; }
  #work .nature {
    width: 100%; }
  #work .architect {
    width: 100%; }
  #work .urban {
    width: 100%;
    height: 753px; }
  #work .animals {
    height: 377px;
    width: 100%; }
  #work a {
    margin: 20px auto;
    display: block;
    width: 230px; }

  #see-world {
    font-size: 16px;
    padding: 0 20%; }

  #contact h3 {
    padding: 2%; }
  #contact p {
    font-size: 14px;
    color: #848282; }
  #contact input,
  #contact textarea {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
